{% extends "expenses/base.html" %}
{% block content %}
<h1 class="mb-3">{% if category %}Edit{% else %}Add{% endif %} Category</h1>
<form method="post" class="row g-3">{% csrf_token %}
  <div class="col-12">
    {{ form.name.label_tag }}
    {{ form.name }}
    {% for err in form.name.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
  </div>
  <div class="col-12">
    <button class="btn btn-success" type="submit">Save</button>
    <a class="btn btn-secondary" href="{% url 'expenses:category_list' %}">Cancel</a>
  </div>
</form>
{% endblock %}
