body{font-family: Arial, sans-serif; margin:20px;}
nav a{margin-right:10px;}
table{width:100%; border-collapse: collapse;}
table th, table td{border:1px solid #ddd; padding:8px;}
.messages{list-style:none; padding:0;}

.collapse navbar-collapse{
  background-color: darkslateblue;
}
